body {
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  font-size: 22px;
}

header {
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  position: fixed;
  z-index: 5;
  background-color: black;
  top: 0;
}

.header-image {
  display: flex;
  margin-right: 30px;
  flex-grow: 1;
}

header img {
  padding-left: 10px;
  height: 50px;
}

header span {
  min-width: 400px;
}

header a {
  text-decoration: underline;
  color: seashell;
  margin: 0 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.mission {
  display: flex;
  height: 700px;
  width: 1200px;
  position: relative;
  padding-top: 75px;
  background-image: url(../images/mission-background.jpg);
  align-items: center;
}

.mission-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  height: 100px;
}

.mission-text h2 {
  margin-bottom: 0;
}

.mission-text h4 {
  margin-top: 15px;
}

.month {
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.month-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month-text h2 {
  margin-bottom: 0;
}

.month-images {
  display: flex;
  align-items: center;
  width: 1000px;
  flex-direction: column;
  justify-content: space-between;
}

.mi-top {
  display: flex;
  align-items: center;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mi-bottom {
  display: flex;
  align-items: center;
  width: 70%;
  flex-direction: row;
  justify-content: space-around;
}


.month img {
  height: 200px;
  width: 300px;
}

.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box h4 {
  margin-top: 10px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin-top: 70px;
}

.location-text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.location-text h2 {
  margin-bottom: 0;
}

.location-bottom {
  display: flex;
  justify-content: center;
  margin-top: 0;
}


.location-box {
  display: flex;
  width: 300px;
  opacity: 1;
  background-color: black;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.location-box h4 {
  margin-top: 10px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.footer-top h2, h5 {
  margin-top: 10px;
}

.footer-bottom {
  margin-left: 20px;
}
